<%= stylesheet_link_tag "/assets/top.css" %>
<%= stylesheet_link_tag "/assets/recruitments.css" %>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 cover-img" style="background-image:url('/assets/ape3-be7397da8072d30447561ad8616f27a99a1a543234510176444c2e3023235dae.png');">
			<div class="cover-text text-center">
			  
				<h3>このサービスについて</h3>
				<p>『Apex Legends』を人としたいと思う事はありませんか？</p>
				<p>そんな時、どういうキャラを使うのか、どんなプレイスタイルなのかで悩むことがありますよね。</p>
				<p>このサービスはその悩みを解決します。</p>
			</div>
		</div>
	</div>
</div>




<div class="fixed-top">
    <div class="float-right">
　　<%= link_to "新規登録", "users/new" ,{class: "btn btn-primary pull-left btn-lg"}%>
    <%= link_to "ログイン", login_url ,{class: "btn btn-info pull-right btn-lg"}%>
    </div>
</div>

<h1>募集一覧</h1>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">投稿ユーザー</th>
      <th scope="col">DiscordID</th>
      <th scope="col">モード</th>
      <th scope="col">要求ランク</th>
      <th scope="col">Use Legend</th>
      <th scope="col">Want Legend</th>
      <th scope="col">Play Style</th>
      <th scope="col">募集状況</th>
    </tr>
  </thead>
 </table>
<% @recruitments.each do |recruitment| %>


<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row"><%= "#{User.find_by(id: recruitment.user_id).name}" %></th>
      <td><%= "#{User.find_by(id: recruitment.user_id).discord_id}" %></td>
      <td><%= recruitment.mode %></td>
      <td><%= recruitment.rank %></td>
      <td><%= recruitment.use_chara %></td>
      <td><%= recruitment.need_chara %></td>
      <td><%= recruitment.play_style %></td>
      <td>
          <% if recruitment.flag == 0 %>
            <%=  "募集中" %>
          <% else %>
           <span>
             <%= "募集終了"%>
           </span>
            
          <% end %>
      </td>
    </tr>
   
  </tbody>
</table>
<% end %>
