
<h1>プロフィール</h1>

<%= "ユーザ名：" + @user.name %>
<p>今までの募集</p>
<%= "最も良くプレイするモード #{@most_mode}" %>


<p><% if @user.id == session[:user_id] %> 
    <%= link_to "ユーザーの削除", "/users/#{session[:user_id]}", method: :delete, data: { confirm: "アカウント情報を削除しますよろしいですか？" }, class: "btn btn-danger" %>
<% else %></p>
<% end %>
<p><div class="right-area">  
    <%= link_to "トップに戻る", recruitments_path, {class: "btn btn-outline-secondary"} %>
</div></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">投稿ユーザー</th>
      <th scope="col">ディスコードID</th>
      <th scope="col">モード</th>
      <th scope="col">要求ランク</th>
      <th scope="col">Use Legend</th>
      <th scope="col">Want Legend</th>
      <th scope="col">Play Style</th>
      <th scope="col">募集状況</th>
      <th scope="col">更新</th>
    </tr>
  </thead>
 </table>
<% @recruitments.each do |recruitment| %>


<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row"><%= link_to "#{User.find_by(id: recruitment.user_id).name}", "/users/#{recruitment.user_id}", method: :get %></th>
      <td><%= "#{User.find_by(id: recruitment.user_id).discord_id}" %></td>
      <td><%= recruitment.mode %></td>
      <td><%= recruitment.rank %></td>
      <td><%= recruitment.use_chara %></td>
      <td><%= recruitment.need_chara %></td>
      <td><%= recruitment.play_style %></td>
      <td><% if recruitment.flag == 0 %>
            <%= link_to "募集中","/recruitments/#{recruitment.id}" %>
          <% else %>
            <%= link_to "募集終了","/recruitments/#{recruitment.id}" %>
          <% end %>
      </td>
     
      <td>
      <% if recruitment.user_id == session[:user_id] && recruitment.flag ==0  %> 
           <%= form_with model: recruitment do |f| %>
               <%= f.label :flag, "募集状況" %>
               <%= f.check_box :flag, class: "none" %>
               <%= f.submit "更新", class: "btn btn-secondary"  %>
           <% end %>
      <% else %>
      <% end %>
      </td>
    </tr>
   
  </tbody>
  </table>
<% end %>

