<h1>プロフィール</h1>

<%= "ユーザ名：" + @user.name %>
<p>今までの募集</p>

<% @recruitments.each do |recruitment| %>
    <div class="content_post" >
        <p>投稿ユーザー：<%= link_to "#{User.find_by(id: recruitment.user_id).name}", "/users/#{recruitment.user_id}", method: :get %></p>
        <p>モード：<%= recruitment.mode %></p>
        <p>要求ランク：<%= recruitment.rank %></p>
        <p>Use Legend：<%= recruitment.use_chara %></p>
        <p>Want Legend：<%= recruitment.need_chara %></p>
        <p>Play Style：<%= recruitment.play_style %></p>
        <p>募集状況：<%= recruitment.flag==0? "募集中" : "募集終了" %></p>
        <%= link_to "詳細", "/recruitments/#{recruitment.id}" %>
        <% if recruitment.user_id == session[:user_id] && recruitment.flag ==0  %> 
            <%= form_with model: recruitment do |f| %>
                <%= f.label :flag, "募集状況" %>
                <%= f.check_box :flag %>
                <%= f.submit "更新"  %>
                <%= link_to image_tag('/assets/twitter.png', :class => "add_style"), "https://twitter.com/share?url=Apex一緒にやる人募集中！", title: 'タイトル', target: '_blank', class: 'add_style' %>
            <% end %>
        <% else %>
        <% end %>
    </div>
<% end %>

<%= link_to "トップに戻る", recruitments_path, {class: "nav-link"} %>